APP_URL=http://localhost
APP_PORT=8000
FRONT_END_URL=http://localhost:3000
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_SYNC=true
DATABASE_AUTO_LOAD=true
JWT_SECRET=
JWT_TOKEN_AUDIENCE=localhost:3000
JWT_TOKEN_ISSUER=localhost:3000
JWT_ACCESS_TOKEN_TTL=3600
JWT_REFRESH_TOKEN_TTL=86400
API_VERSION=0.1.1
REDIS_HOST=localhost
REDIS_PORT=6379
APP_ENCRYPTION_KEY=superkey-my
